html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Tahoma';
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: 'ArialAMU', 'Tahoma', 'Geneva', sans-serif;
  font-size: 100%;
  color: #2b2b2b;
}

img {
  border: 0;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  background: transparent;
}

.clear {
  clear: both;
}

a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  border: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'HeliosCond';
  src: url("../fonts/subset-HeliosCondBold.eot");
  src: url("../fonts/subset-HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-HeliosCondBold.woff2") format("woff2"), url("../fonts/subset-HeliosCondBold.woff") format("woff"), url("../fonts/subset-HeliosCondBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 1200px) {
  #main_slider #owl_main_slider .item .backfround {
    height: 400px !important;
    width: 1200px !important;
    margin-left: -600px !important;
  }
  #main_slider #owl_main_slider .item .content {
    padding: 0 60px !important;
  }
  #main_slider #owl_main_slider .item .content .item_block {
    height: 400px !important;
  }
  #main_slider #owl_main_slider .owl-buttons .owl-prev {
    left: 15px !important;
  }
  #main_slider #owl_main_slider .owl-buttons .owl-next {
    right: 15px !important;
  }
}
@media (max-width: 1015px) {
  #cart .cart .cart_top .cart_slider {
    float: none !important;
    width: 300px !important;
  }
  #cart .cart .cart_top .cart_slider #bx-pager {
    margin-bottom: 25px !important;
    display: inline-block !important;
  }
  #cart .cart .cart_top .cart_info {
    width: 55% !important;
    margin-right: 0 !important;
  }
  #cart .cart .cart_top .cart_prices {
    width: 35% !important;
  }
  
    .goods_list{
	  text-align: center;
  }
  .goods_list > li{
	  width: 240px!important;
	  float: none!important; 
	  display: inline-block;
	  vertical-align: top;
  }
}
@media (max-width: 992px) {
  #popular_goods .popular_goods .goods_list > li {
   /* width: 33.3% !important;  */
  }

  #catalog .catalog .catalog_main .catalog_left {
    width: 30% !important;
  }
  #catalog .catalog .catalog_main .catalog_left .filter_title h4 {
    font-size: 18px !important;
  }
  #catalog .catalog .catalog_main .catalog_left .filter_bottom {
    padding: 20px 8px !important;
  }
  #catalog .catalog .catalog_main .catalog_right {
    width: 70% !important;
  }
  #catalog .catalog .catalog_main .catalog_right .goods_list > li {
    width: 50% !important;
  }
  #catalog .catalog .catalog_main .catalog_right .goods_list > li.active {
    width: 100% !important;
  }
}
@media (max-width: 926px) {
  #header .header .logo {
    margin-right: 25px !important;
  }
  #header .header .head_menu li a {
    padding: 33px 5px !important;
    font-size: 14px !important;
  }

  #order .order .order_block .ord_left,
  #order .order .order_block .ord_right {
    float: none !important;
    width: 100% !important;
  }
  #order .order .order_block .ord_left {
    margin-bottom: 30px !important;
  }

  #your_order .your_order .your_order_right form .form_bottom .inp_file {
    float: none !important;
    margin-bottom: 15px !important;
  }
  #your_order .your_order .your_order_right form .form_bottom input[type="submit"] {
    float: none !important;
  }
}
@media (min-width: 768px) {
	#top .top  .mob_head_menu{   
		display: none!important; 
	}
}
@media (max-width: 767px) {
 #top .top .top_menu{
	 display: none!important; 
 }
 #top .top .mob_head_menu{
		position: absolute;
    z-index: 9;
    left: 0;
    top: 50px;
    padding: 15px 0 !important;
    width: 100%;
    background-color: #242020;
 }
  #top .top .top_menu {
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 50px;
    padding: 15px 0 !important;
    width: 100%;
    background-color: #242020;
  }
  #top .top .mob_head_menu li {
    float: none !important;
    text-indent: 15px;
    padding: 15px 0;
  }
  #top .top .mob_head_menu li a {
    font-size: 18px !important;
	color: #fff;
  }
  #top .top .mob_head_menu li a:hover{
	  color: #e10025;
  }
  #top .top .mob_top_menu {
    display: block !important;
    float: left;
  }
  #top .top .mob_top_menu .mob_top_menu_btn {
    display: inline-block;
  }
  #top .top .mob_top_menu .mob_top_menu_btn span {
    width: 35px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin-bottom: 6px;
    transition: all .3s ease;
  }
  #top .top .mob_top_menu .mob_top_menu_btn span:last-child {
    margin-bottom: 0;
  }
  #top .top .mob_top_menu .mob_top_menu_btn.active span:first-child {
    transform: rotate(45deg);
    top: 9px;
    position: relative;
  }
  #top .top .mob_top_menu .mob_top_menu_btn.active span:nth-child(2) {
    transform: rotate(-45deg);
  }
  #top .top .mob_top_menu .mob_top_menu_btn.active span:last-child {
    display: none;
  }

  #header {
    padding-bottom: 18px !important;
  }
  #header .header .logo a img {
    width: 120px !important;
  }
  #header .header .head_menu {
    display: none!important;
  }
  #header .header .head_basket {
    padding-top: 20px !important;
  }
  #header .header .head_basket .head_basket_open {
    top: 71px !important;
  }

  #popular_goods .popular_goods .goods_list > li {
   
  }

  #footer .footer .foo_blocks > li {
    width: 50% !important;
    margin-bottom: 25px !important;
  }
  #footer .footer .foo_blocks > li:last-child {
    margin: 0 !important;
  }

  #catalog .catalog .catalog_main .catalog_left {
    width: 40% !important;
  }
  #catalog .catalog .catalog_main .catalog_left .filter_title h4 {
    font-size: 18px !important;
  }
  #catalog .catalog .catalog_main .catalog_left .filter_bottom {
    padding: 20px 8px !important;
  }
  #catalog .catalog .catalog_main .catalog_right {
    width: 60% !important;
  }
  #catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left {
    width: 100% !important;
  }
  #catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left span {
    width: 48% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }
  #catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left select {
    width: 50% !important;
    border-right: none !important;
  }
  #catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right {
    display: none !important;
  }
  #catalog .catalog .catalog_main .catalog_right .goods_list > li {
    width: 100% !important;
  }

  #your_order .your_order{
	  padding-bottom: 30px;
  }
  #your_order .your_order .your_order_left {
    float: none !important;
    width: 100% !important;
  }
 
  #your_order .your_order .your_order_left ul{
       width: 100%!important;
  }
  #your_order .your_order .your_order_right h3{
	      padding: 5px 0 25px!important;
  }
  #your_order .your_order .your_order_right {
	display: none;
    float: none !important;
    width: 100% !important;
  }
  #your_order .your_order .your_order_right.mob_type{
		display: block!important;
    padding-bottom: 50px;		
  }
  #your_order .your_order .your_order_right.mob_type  {
		display: block!important;  
  }
  #your_order .your_order .your_order_left .item_scroll_type{
	  width: 100%!important;
  }
}
@media (min-width: 768px) {
  #top .top .top_menu {
    display: block !important;
  }
  #top .top .top_menu li .pod_menu {
    display: none !important;
  }
}
@media (max-width: 680px) {
  #basket .basket .basket_items .basket_item {
    position: relative;
    padding: 20px 0 !important;
  }
  #basket .basket .basket_items .basket_item .img {
    width: 120px !important;
  }
  #basket .basket .basket_items .basket_item .name {
    display: none !important;
  }
  #basket .basket .basket_items .basket_item .count {
    width: 120px !important;
  }
  #basket .basket .basket_items .basket_item .price {
    float: right !important;
    width: 150px !important;
  }
  #basket .basket .basket_items .basket_item .delete {
    width: auto !important;
    position: absolute;
    top: 20px;
    right: 0;
  }
  #basket .basket .basket_items .basket_item .delete a {
    height: auto !important;
  }
  #basket .basket .basket_total_price {
    padding: 20px 0 !important;
  }
  #basket .basket .basket_total_price p {
    font-size: 16px !important;
    float: none !important;
    padding-bottom: 15px !important;
  }
  #basket .basket .basket_total_price span {
    float: none !important;
  }
  #basket .basket .basket_checkout {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #basket .basket .basket_checkout .back_to_btn,
  #basket .basket .basket_checkout .checkout_btn {
    float: none !important;
  }
  #basket .basket .basket_checkout .checkout_btn {
    display: block !important;
    margin-top: 15px !important;
  }
}
@media (max-width: 640px) {
  #text_page .text_page .text_main_block p {
    float: left !important;
  }
  #text_page .text_page .text_main_block p img {
    float: none !important;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
    max-width: 100%;
  }
  #text_page .text_page .text_table table tr td {
    padding: 12px 6px !important;
    font-size: 12px !important;
  }

  #cart .cart .cart_top .cart_slider {
    width: 100% !important;
  }
  #cart .cart .cart_top .cart_slider #bx-pager a {
    margin-right: 10px !important;
  }
  #cart .cart .cart_top .cart_info {
    width: 100% !important;
    float: none !important;
    margin-bottom: 25px !important;
  }
  #cart .cart .cart_top .cart_prices {
    width: 100% !important;
    float: none !important;
  }
  #cart .cart .cart_top .cart_prices .req_block,
  #cart .cart .cart_top .cart_prices .spec_block,
  #cart .cart .cart_top .cart_prices p {
    text-align: left !important;
  }
  #cart .cart .cart_top .cart_prices a {
    float: none !important;
  }
  #cart .cart .cart_tab .tab_main ul {
    width: 100% !important;
  }
}
@media (max-width: 580px) {
  #catalog .catalog .catalog_main .catalog_left {
    width: 100% !important;
    float: none !important;
    padding: 0 !important;
  }
  #catalog .catalog .catalog_main .catalog_right {
    width: 100% !important;
    float: none !important;
    padding: 0 !important;
  }
  #catalog .catalog .catalog_main .catalog_right .catalog_right_top {
    margin: 0 !important;
    margin: 25px 0 !important;
  }
  #catalog .catalog .catalog_main .catalog_right .goods_list > li {
    padding: 0 !important;
  }
}
@media (max-width: 520px) {
  #popular_goods .popular_goods h2 {
    font-size: 26px !important;
  }
  #popular_goods .popular_goods .goods_list > li {
    
  }
  #popular_goods .text_block h2 {
    font-size: 25px !important;
  }
  #popular_goods .text_block h2 br {
    display: none !important;
  }
  #popular_goods .text_block p br {
    display: none !important;
  }

  #text_page .text_page .text_prices .cart_prices {
    float: none !important;
    margin-bottom: 40px !important;
  }
  #text_page .text_page .text_prices .cart_prices .req_block,
  #text_page .text_page .text_prices .cart_prices .spec_block,
  #text_page .text_page .text_prices .cart_prices p {
    text-align: left !important;
  }
  #text_page .text_page .text_prices .cart_prices a {
    float: none !important;
  }
}
@media (max-width: 460px) {
  #main_slider #owl_main_slider .item .content {
    padding: 0 45px !important;
  }
  #main_slider #owl_main_slider .item .content .item_block h1 {
    font-size: 26px !important;
    line-height: 32px !important;
  }
  #main_slider #owl_main_slider .item .content .item_block p {
    font-size: 13px !important;
  }
  #main_slider #owl_main_slider .item .content .item_block p br {
    display: none !important;
  }

  #footer .footer .foo_blocks > li {
    width: 100% !important;
  }

  #bottom .bottom .copypast {
    float: none !important;
    margin-bottom: 15px !important;
  }
  #bottom .bottom .web_studio {
    float: none !important;
  }

  #order .order h2 {
    font-size: 26px !important;
  }
  #order .order .order_block .ord_left table tr td {
    width: 100% !important;
    display: block !important;
  }
  #order .order .order_block .ord_left table tr td:first-child {
    padding-bottom: 5px !important;
  }
  #order .order .order_block .ord_left table tr td:last-child {
    padding-bottom: 25px !important;
  }
  #order .order .order_block .ord_right .pay_online a {
    float: none !important;
  }
  #order .order .order_block .ord_right .pay_online img {
    display: block !important;
    float: none !important;
    margin: 0 !important;
    margin-bottom: 25px !important;
  }

  #other_top .other_top .logo {
    float: none !important;
    text-align: center !important;
    margin-bottom: 15px !important;
  }
  #other_top .other_top .tel {
    float: none !important;
    text-align: center !important;
  }

  #other_bottom .other_bottom .copypast {
    float: none !important;
    margin-bottom: 15px !important;
  }
  #other_bottom .other_bottom .web_studio {
    float: none !important;
  }

  #basket .basket .basket_items .basket_item .img {
    width: 85px !important;
  }
  #basket .basket .basket_items .basket_item .count {
    width: 80px !important;
  }
  #basket .basket .basket_items .basket_item .price {
    width: 100px !important;
  }
  #basket .basket .basket_items .basket_item .price span {
    font-size: 18px !important;
  }
  #basket .basket .basket_items .basket_item .price span i {
    font-size: 14px !important;
  }
}
@media (max-width: 400px) {
  #your_order .your_order .your_order_left ul {
    width: 275px !important;
  }
  #your_order .your_order .your_order_left ul li .your_order_items .your_order_item_img {
    margin-right: 15px !important;
  }
  #your_order .your_order .your_order_right .your_order_tab li a {
    padding: 8px !important;
    font-size: 13px !important;
  }
  #your_order .your_order .your_order_right .form_bottom {
    overflow: hidden;
  }

  #header .header .head_basket .head_basket_open {
    right: -15px !important;
    width: 275px !important;
    padding: 14px !important;
  }
  #header .header .head_basket .head_basket_open ul li .your_order_items {
    padding: 15px 0 !important;
  }
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

html {
  height: 100%;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}
body .content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

#top {
  background-color: #242020;
  padding: 15px 0px;
}
#top .top .top_menu {
  float: left;
  padding: 3px 0;
}
#top .top  .mob_head_menu{   
	display: none; 
}
#top .top .top_menu li {
  float: left;
  margin-right: 40px;
}
#top .top .top_menu li a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all .3s ease;
}
#top .top .top_menu li a:hover {
  color: #e10025;
}
#top .top .top_menu li:last-child {
  margin-right: 0;
}
#top .top .top_menu li .pod_menu {
  display: none;
  padding-left: 15px;
  padding-top: 15px;
}
#top .top .top_menu li .pod_menu li {
  padding: 8px 0 !important;
}
#top .top .top_menu li .pod_menu li a {
  font-size: 14px !important;
}
#top .top .mob_top_menu {
  display: none;
}
#top .top .tel {
  float: right;
}
#top .top .tel a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-image: url("../img/tel.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  padding-left: 32px;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid #242020;
}
#header .header .logo {
  float: left;
  margin-right: 34px;
}
#header .header .logo a {
  display: inline-block;
  margin-top: 20px;
}
#header .header .head_menu {
  float: left;
}
#header .header .head_menu li {
  float: left;
}
#header .header .head_menu li a {
  display: inline-block;
  padding: 32px 16px;
  font-size: 16px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
#header .header .head_menu li a:hover {
  color: #e10025;
  border-bottom: 1px solid #e10025;
}
#header .header .head_basket {
  float: right;
  padding-top: 27px;
  position: relative;
}
#header .header .head_basket .basket_count {
  float: left;
  background-image: url("../img/basket.png");
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-right: 10px;
  padding-top: 5px;
}
#header .header .head_basket .basket_count span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #e10025;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  position: absolute;
  right: -5px;
  top: 0;
}
#header .header .head_basket .basket_price {
  float: left;
}
#header .header .head_basket .basket_price p {
  font-size: 13px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#header .header .head_basket .basket_price span {
  font-size: 14px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#header .header .head_basket .head_basket_open {
  position: absolute;
  width: 300px;
  z-index: 7;
  background-color: #fff;
  right: 0;
  top: 82px;
  padding: 20px;
  display: none;
}
#header .header .head_basket .head_basket_open h4 {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#header .header .head_basket .head_basket_open ul {
  width: 100%;
}
#header .header .head_basket .head_basket_open ul li {
  position: relative;
}
#header .header .head_basket .head_basket_open ul li .your_order_items {
  padding: 20px;
  border-bottom: 1px solid #777777;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_img {
  float: left;
  margin-right: 15px;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_img img {
  height: 95px;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_info {
  height: 95px;
  display: table-cell;
  vertical-align: middle;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_info p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 8px;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_info .name {
  display: block;
  font-size: 16px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_info .price {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #e10025;
}
#header .header .head_basket .head_basket_open ul li .your_order_items .your_order_item_info .price i {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
#header .header .head_basket .head_basket_open ul li .your_order_total {
  padding-top: 20px;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_left {
  float: left;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_left p {
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 4px;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_left span {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_left span i {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_right {
  float: right;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_right a {
  display: inline-block;
  width: 150px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #231f1f;
  transition: all .3s ease;
}
#header .header .head_basket .head_basket_open ul li .your_order_total .your_order_total_right a:hover {
  background-color: #e10025;
}
#header .header .head_basket .head_basket_open ul li .delete_btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  display: inline-block;
}

#main_slider #owl_main_slider .item {
  position: relative;
  overflow: hidden;
}
#main_slider #owl_main_slider .item .backfround {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  margin-left: -960px;
  height: 600px;
  z-index: 1;
}
#main_slider #owl_main_slider .item .item_block {
  display: table-cell;
  height: 600px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
#main_slider #owl_main_slider .item .item_block h1 {
  font-family: "HeliosCond";
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 15px;
}
#main_slider #owl_main_slider .item .item_block p {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 16px;
}
#main_slider #owl_main_slider .item .item_block a {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#main_slider #owl_main_slider .owl-buttons .owl-prev,
#main_slider #owl_main_slider .owl-buttons .owl-next {
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
}
#main_slider #owl_main_slider .owl-buttons .owl-prev {
  background-image: url("../img/slide_left_arr.png");
  left: 48px;
}
#main_slider #owl_main_slider .owl-buttons .owl-next {
  background-image: url("../img/slide_right_arr.png");
  right: 48px;
}

#popular_goods {
  background-color: #fff;
  padding-bottom: 70px;
}
#popular_goods .popular_goods h2 {
  font-size: 30px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 70px 0 60px;
}
#popular_goods .text_block h2 {
  font-size: 30px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 50px 0 35px;
}
#popular_goods .text_block p {
  font-size: 14px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
}
#popular_goods .text_block .expand_btn {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

#footer {
  background-color: #242020;
  padding: 70px 0;
  border-bottom: 1px solid #777777;
}
#footer .footer .foo_blocks > li {
  float: left;
  width: 25%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer .footer .foo_blocks > li h4 {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 28px;
}
#footer .footer .foo_blocks > li ul li {
  margin-bottom: 16px;
  width: auto !important;
}
#footer .footer .foo_blocks > li ul li a {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 16px;
}

#bottom {
  background-color: #242020;
  padding: 20px 0;
}
#bottom .bottom .copypast {
  float: left;
}
#bottom .bottom .copypast p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#bottom .bottom .web_studio {
  float: right;
}
#bottom .bottom .web_studio p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#text_page {
  background-color: #fff;
  padding-bottom: 50px;
}
#text_page h1 {
  font-size: 24px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
#text_page img {
  float: right;
  margin-bottom: 30px;
  margin-left: 30px;
}
#text_page p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
}
#text_page p a {
  font-size: 14px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}
#text_page table {
  border: 1px solid #eaeaea;
  margin: 20px auto 50px;
}
#text_page table tr {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#text_page table tr td {
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 18px;
  border: 1px solid #eaeaea;
}
#text_page table tr:nth-child(odd) {
  background-color: #f9f9f9;
}
#text_page table tr.top {
  background-color: #e9e8e8;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
#text_page table thead tr th{
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 18px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  color: #242020;
  font-family: "Roboto", sans-serif; 
  font-weight: 500; 

}

#text_page table thead tr{
  background-color: #e9e8e8!important; 
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  
}

#text_page table tr.top td {
  font-size: 16px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#text_page h2 {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
#text_page h3 {
  font-size: 18px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
#text_page ul,
#text_page ol {
  list-style-type: disc;
  padding-left: 20px;
}
#text_page ul li,
#text_page ol li {
  margin-bottom: 10px;
  color: #e10025;
  font-size: 20px;
  line-height: 14px;
}
#text_page ul li span,
#text_page ol li span {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#text_page ol {
  list-style-type: decimal-leading-zero;
  padding-left: 25px;
}
#text_page ol li {
  font-size: 16px;
}
#text_page .text_prices {
  margin-top: 50px;
}
#text_page .text_prices .cart_prices {
  float: left;
  width: 200px;
}
#text_page .text_prices .cart_prices .req_block {
  text-align: right;
  margin-bottom: 30px;
}
#text_page .text_prices .cart_prices .req_block .req_price_text {
  display: block;
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}
#text_page .text_prices .cart_prices .req_block .req_price {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #777777;
}
#text_page .text_prices .cart_prices .req_block .req_price i {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#text_page .text_prices .cart_prices .spec_block {
  text-align: right;
  margin-bottom: 8px;
}
#text_page .text_prices .cart_prices .spec_block .spec_price_text {
  display: block;
  font-size: 14px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 6px;
}
#text_page .text_prices .cart_prices .spec_block .spec_price {
  font-size: 28px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#text_page .text_prices .cart_prices .spec_block .spec_price i {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#text_page .text_prices .cart_prices p {
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  padding-bottom: 30px;
}
#text_page .text_prices .cart_prices a {
  display: block;
  width: 200px;
  height: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e10025;
  line-height: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-indent: 20px;
  background-image: url("../img/white_basket.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  float: right;
  transition: all .3s ease;
}
#text_page .text_prices .cart_prices a:hover {
  background-color: rgba(225, 0, 37, 0.7);
}
#text_page .text_prices .cart_prices.cart_prices_left {
  float: left;
}
#text_page .text_prices .cart_prices.cart_prices_left .req_block,
#text_page .text_prices .cart_prices.cart_prices_left .spec_block,
#text_page .text_prices .cart_prices.cart_prices_left p {
  text-align: left;
}
#text_page .text_prices .cart_prices.cart_prices_left a {
  float: none;
}
#text_page .text_prices .cart_prices.cart_prices_right {
  float: right;
}

#required_items,
#personal_rec {
  background-color: #fff;
}
#required_items .required_items h2,
#required_items .personal_rec h2,
#personal_rec .required_items h2,
#personal_rec .personal_rec h2 {
  font-size: 30px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 70px 0;
}
#required_items .required_items #owl_required_items .item,
#required_items .required_items #owl_personal_rec .item,
#required_items .personal_rec #owl_required_items .item,
#required_items .personal_rec #owl_personal_rec .item,
#personal_rec .required_items #owl_required_items .item,
#personal_rec .required_items #owl_personal_rec .item,
#personal_rec .personal_rec #owl_required_items .item,
#personal_rec .personal_rec #owl_personal_rec .item {
  padding: 0 10px;
}
#required_items .required_items #owl_required_items .item > div,
#required_items .required_items #owl_personal_rec .item > div,
#required_items .personal_rec #owl_required_items .item > div,
#required_items .personal_rec #owl_personal_rec .item > div,
#personal_rec .required_items #owl_required_items .item > div,
#personal_rec .required_items #owl_personal_rec .item > div,
#personal_rec .personal_rec #owl_required_items .item > div,
#personal_rec .personal_rec #owl_personal_rec .item > div {
  border: 1px solid #777777;
  padding: 16px;
  position: relative;
}
#required_items .required_items #owl_required_items .item > div .goods_item,
#required_items .required_items #owl_personal_rec .item > div .goods_item,
#required_items .personal_rec #owl_required_items .item > div .goods_item,
#required_items .personal_rec #owl_personal_rec .item > div .goods_item,
#personal_rec .required_items #owl_required_items .item > div .goods_item,
#personal_rec .required_items #owl_personal_rec .item > div .goods_item,
#personal_rec .personal_rec #owl_required_items .item > div .goods_item,
#personal_rec .personal_rec #owl_personal_rec .item > div .goods_item {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
#required_items .required_items #owl_required_items .item > div .gift,
#required_items .required_items #owl_personal_rec .item > div .gift,
#required_items .personal_rec #owl_required_items .item > div .gift,
#required_items .personal_rec #owl_personal_rec .item > div .gift,
#personal_rec .required_items #owl_required_items .item > div .gift,
#personal_rec .required_items #owl_personal_rec .item > div .gift,
#personal_rec .personal_rec #owl_required_items .item > div .gift,
#personal_rec .personal_rec #owl_personal_rec .item > div .gift {
  position: absolute;
  top: 10px;
  left: 10px;
}
#required_items .required_items #owl_required_items .item > div .triangle,
#required_items .required_items #owl_personal_rec .item > div .triangle,
#required_items .personal_rec #owl_required_items .item > div .triangle,
#required_items .personal_rec #owl_personal_rec .item > div .triangle,
#personal_rec .required_items #owl_required_items .item > div .triangle,
#personal_rec .required_items #owl_personal_rec .item > div .triangle,
#personal_rec .personal_rec #owl_required_items .item > div .triangle,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  text-align: right;
}
#required_items .required_items #owl_required_items .item > div .triangle span,
#required_items .required_items #owl_personal_rec .item > div .triangle span,
#required_items .personal_rec #owl_required_items .item > div .triangle span,
#required_items .personal_rec #owl_personal_rec .item > div .triangle span,
#personal_rec .required_items #owl_required_items .item > div .triangle span,
#personal_rec .required_items #owl_personal_rec .item > div .triangle span,
#personal_rec .personal_rec #owl_required_items .item > div .triangle span,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle span {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 4px;
  margin-top: 16px;
}
#required_items .required_items #owl_required_items .item > div .triangle:before,
#required_items .required_items #owl_personal_rec .item > div .triangle:before,
#required_items .personal_rec #owl_required_items .item > div .triangle:before,
#required_items .personal_rec #owl_personal_rec .item > div .triangle:before,
#personal_rec .required_items #owl_required_items .item > div .triangle:before,
#personal_rec .required_items #owl_personal_rec .item > div .triangle:before,
#personal_rec .personal_rec #owl_required_items .item > div .triangle:before,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
#required_items .required_items #owl_required_items .item > div .triangle.new span,
#required_items .required_items #owl_personal_rec .item > div .triangle.new span,
#required_items .personal_rec #owl_required_items .item > div .triangle.new span,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.new span,
#personal_rec .required_items #owl_required_items .item > div .triangle.new span,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.new span,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.new span,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.new span {
  color: #fff;
}
#required_items .required_items #owl_required_items .item > div .triangle.new:before,
#required_items .required_items #owl_personal_rec .item > div .triangle.new:before,
#required_items .personal_rec #owl_required_items .item > div .triangle.new:before,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.new:before,
#personal_rec .required_items #owl_required_items .item > div .triangle.new:before,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.new:before,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.new:before,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.new:before {
  border-top: 70px solid #e10025;
}
#required_items .required_items #owl_required_items .item > div .triangle.hit span,
#required_items .required_items #owl_personal_rec .item > div .triangle.hit span,
#required_items .personal_rec #owl_required_items .item > div .triangle.hit span,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.hit span,
#personal_rec .required_items #owl_required_items .item > div .triangle.hit span,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.hit span,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.hit span,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.hit span {
  color: #fff;
  margin-right: 8px;
}
#required_items .required_items #owl_required_items .item > div .triangle.hit:before,
#required_items .required_items #owl_personal_rec .item > div .triangle.hit:before,
#required_items .personal_rec #owl_required_items .item > div .triangle.hit:before,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.hit:before,
#personal_rec .required_items #owl_required_items .item > div .triangle.hit:before,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.hit:before,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.hit:before,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.hit:before {
  border-top: 70px solid #000000;
}
#required_items .required_items #owl_required_items .item > div .triangle.discount span,
#required_items .required_items #owl_personal_rec .item > div .triangle.discount span,
#required_items .personal_rec #owl_required_items .item > div .triangle.discount span,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.discount span,
#personal_rec .required_items #owl_required_items .item > div .triangle.discount span,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.discount span,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.discount span,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.discount span {
  color: #000;
}
#required_items .required_items #owl_required_items .item > div .triangle.discount:before,
#required_items .required_items #owl_personal_rec .item > div .triangle.discount:before,
#required_items .personal_rec #owl_required_items .item > div .triangle.discount:before,
#required_items .personal_rec #owl_personal_rec .item > div .triangle.discount:before,
#personal_rec .required_items #owl_required_items .item > div .triangle.discount:before,
#personal_rec .required_items #owl_personal_rec .item > div .triangle.discount:before,
#personal_rec .personal_rec #owl_required_items .item > div .triangle.discount:before,
#personal_rec .personal_rec #owl_personal_rec .item > div .triangle.discount:before {
  border-top: 70px solid #fff000;
}
#required_items .required_items #owl_required_items .item > div h4,
#required_items .required_items #owl_personal_rec .item > div h4,
#required_items .personal_rec #owl_required_items .item > div h4,
#required_items .personal_rec #owl_personal_rec .item > div h4,
#personal_rec .required_items #owl_required_items .item > div h4,
#personal_rec .required_items #owl_personal_rec .item > div h4,
#personal_rec .personal_rec #owl_required_items .item > div h4,
#personal_rec .personal_rec #owl_personal_rec .item > div h4 {
  text-align: center;
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 0px;
}
#required_items .required_items #owl_required_items .item > div h4 a,
#required_items .required_items #owl_personal_rec .item > div h4 a,
#required_items .personal_rec #owl_required_items .item > div h4 a,
#required_items .personal_rec #owl_personal_rec .item > div h4 a,
#personal_rec .required_items #owl_required_items .item > div h4 a,
#personal_rec .required_items #owl_personal_rec .item > div h4 a,
#personal_rec .personal_rec #owl_required_items .item > div h4 a,
#personal_rec .personal_rec #owl_personal_rec .item > div h4 a {
    text-align: center;
    font-size: 20px;
    color: #242020;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0px;
    height: 74px;
/*    display: block;
    box-sizing: border-box;*/
}
#required_items .required_items #owl_required_items .item > div ul li,
#required_items .required_items #owl_personal_rec .item > div ul li,
#required_items .personal_rec #owl_required_items .item > div ul li,
#required_items .personal_rec #owl_personal_rec .item > div ul li,
#personal_rec .required_items #owl_required_items .item > div ul li,
#personal_rec .required_items #owl_personal_rec .item > div ul li,
#personal_rec .personal_rec #owl_required_items .item > div ul li,
#personal_rec .personal_rec #owl_personal_rec .item > div ul li {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}
#required_items .required_items #owl_required_items .item > div ul li span,
#required_items .required_items #owl_personal_rec .item > div ul li span,
#required_items .personal_rec #owl_required_items .item > div ul li span,
#required_items .personal_rec #owl_personal_rec .item > div ul li span,
#personal_rec .required_items #owl_required_items .item > div ul li span,
#personal_rec .required_items #owl_personal_rec .item > div ul li span,
#personal_rec .personal_rec #owl_required_items .item > div ul li span,
#personal_rec .personal_rec #owl_personal_rec .item > div ul li span {
  float: right;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#required_items .required_items #owl_required_items .item > div .price_basket,
#required_items .required_items #owl_personal_rec .item > div .price_basket,
#required_items .personal_rec #owl_required_items .item > div .price_basket,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket,
#personal_rec .required_items #owl_required_items .item > div .price_basket,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket {
  padding-top: 12px;
}
#required_items .required_items #owl_required_items .item > div .price_basket .price_side,
#required_items .required_items #owl_personal_rec .item > div .price_basket .price_side,
#required_items .personal_rec #owl_required_items .item > div .price_basket .price_side,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .price_side,
#personal_rec .required_items #owl_required_items .item > div .price_basket .price_side,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .price_side,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .price_side,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .price_side {
  float: left;
}
#required_items .required_items #owl_required_items .item > div .price_basket .price_side .old_price,
#required_items .required_items #owl_personal_rec .item > div .price_basket .price_side .old_price,
#required_items .personal_rec #owl_required_items .item > div .price_basket .price_side .old_price,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .price_side .old_price,
#personal_rec .required_items #owl_required_items .item > div .price_basket .price_side .old_price,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .price_side .old_price,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .price_side .old_price,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .price_side .old_price {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: line-through;
  display: block;
}
#required_items .required_items #owl_required_items .item > div .price_basket .price_side .new_price,
#required_items .required_items #owl_personal_rec .item > div .price_basket .price_side .new_price,
#required_items .personal_rec #owl_required_items .item > div .price_basket .price_side .new_price,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .price_side .new_price,
#personal_rec .required_items #owl_required_items .item > div .price_basket .price_side .new_price,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .price_side .new_price,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .price_side .new_price,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .price_side .new_price {
  font-size: 20px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: block;
}
#required_items .required_items #owl_required_items .item > div .price_basket .basket_side,
#required_items .required_items #owl_personal_rec .item > div .price_basket .basket_side,
#required_items .personal_rec #owl_required_items .item > div .price_basket .basket_side,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .basket_side,
#personal_rec .required_items #owl_required_items .item > div .price_basket .basket_side,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .basket_side,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .basket_side,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .basket_side {
  float: right;
}
#required_items .required_items #owl_required_items .item > div .price_basket .basket_side .to_basket_btn,
#required_items .required_items #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn,
#required_items .personal_rec #owl_required_items .item > div .price_basket .basket_side .to_basket_btn,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn,
#personal_rec .required_items #owl_required_items .item > div .price_basket .basket_side .to_basket_btn,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .basket_side .to_basket_btn,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn {
  display: inline-block;
  margin-top: 5px;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 25px;
}
#required_items .required_items #owl_required_items .item > div .price_basket .basket_side .to_basket_btn:hover,
#required_items .required_items #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn:hover,
#required_items .personal_rec #owl_required_items .item > div .price_basket .basket_side .to_basket_btn:hover,
#required_items .personal_rec #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn:hover,
#personal_rec .required_items #owl_required_items .item > div .price_basket .basket_side .to_basket_btn:hover,
#personal_rec .required_items #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn:hover,
#personal_rec .personal_rec #owl_required_items .item > div .price_basket .basket_side .to_basket_btn:hover,
#personal_rec .personal_rec #owl_personal_rec .item > div .price_basket .basket_side .to_basket_btn:hover {
  background-image: url("../img/red_basket.png");
}
#required_items .required_items #owl_required_items .owl-buttons .owl-prev,
#required_items .required_items #owl_required_items .owl-buttons .owl-next,
#required_items .required_items #owl_personal_rec .owl-buttons .owl-prev,
#required_items .required_items #owl_personal_rec .owl-buttons .owl-next,
#required_items .personal_rec #owl_required_items .owl-buttons .owl-prev,
#required_items .personal_rec #owl_required_items .owl-buttons .owl-next,
#required_items .personal_rec #owl_personal_rec .owl-buttons .owl-prev,
#required_items .personal_rec #owl_personal_rec .owl-buttons .owl-next,
#personal_rec .required_items #owl_required_items .owl-buttons .owl-prev,
#personal_rec .required_items #owl_required_items .owl-buttons .owl-next,
#personal_rec .required_items #owl_personal_rec .owl-buttons .owl-prev,
#personal_rec .required_items #owl_personal_rec .owl-buttons .owl-next,
#personal_rec .personal_rec #owl_required_items .owl-buttons .owl-prev,
#personal_rec .personal_rec #owl_required_items .owl-buttons .owl-next,
#personal_rec .personal_rec #owl_personal_rec .owl-buttons .owl-prev,
#personal_rec .personal_rec #owl_personal_rec .owl-buttons .owl-next {
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 37px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e9e9e9;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
#required_items .required_items #owl_required_items .owl-buttons .owl-prev,
#required_items .required_items #owl_personal_rec .owl-buttons .owl-prev,
#required_items .personal_rec #owl_required_items .owl-buttons .owl-prev,
#required_items .personal_rec #owl_personal_rec .owl-buttons .owl-prev,
#personal_rec .required_items #owl_required_items .owl-buttons .owl-prev,
#personal_rec .required_items #owl_personal_rec .owl-buttons .owl-prev,
#personal_rec .personal_rec #owl_required_items .owl-buttons .owl-prev,
#personal_rec .personal_rec #owl_personal_rec .owl-buttons .owl-prev {
  background-image: url(../img/min_left_arr.png);
  left: -5px;
}
#required_items .required_items #owl_required_items .owl-buttons .owl-next,
#required_items .required_items #owl_personal_rec .owl-buttons .owl-next,
#required_items .personal_rec #owl_required_items .owl-buttons .owl-next,
#required_items .personal_rec #owl_personal_rec .owl-buttons .owl-next,
#personal_rec .required_items #owl_required_items .owl-buttons .owl-next,
#personal_rec .required_items #owl_personal_rec .owl-buttons .owl-next,
#personal_rec .personal_rec #owl_required_items .owl-buttons .owl-next,
#personal_rec .personal_rec #owl_personal_rec .owl-buttons .owl-next {
  background-image: url(../img/min_right_arr.png);
  right: -5px;
}

#services {
  background-color: #fff;
  padding-bottom: 70px;
}
#services .services h2 {
  font-size: 30px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 70px 0;
}
#services .services #owl_services .item {
  padding: 0 10px;
}
#services .services #owl_services .item > div {
  border: 1px solid #777777;
  position: relative;
}
#services .services #owl_services .item > div .goods_item {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
#services .services #owl_services .item > div .gift {
  position: absolute;
  top: 10px;
  left: 10px;
}
#services .services #owl_services .item > div .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  text-align: right;
}
#services .services #owl_services .item > div .triangle span {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 4px;
  margin-top: 16px;
}
#services .services #owl_services .item > div .triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
#services .services #owl_services .item > div .triangle.new span {
  color: #fff;
}
#services .services #owl_services .item > div .triangle.new:before {
  border-top: 70px solid #e10025;
}
#services .services #owl_services .item > div .triangle.hit span {
  color: #fff;
  margin-right: 8px;
}
#services .services #owl_services .item > div .triangle.hit:before {
  border-top: 70px solid #000000;
}
#services .services #owl_services .item > div .triangle.discount span {
  color: #000;
}
#services .services #owl_services .item > div .triangle.discount:before {
  border-top: 70px solid #fff000;
}
#services .services #owl_services .item > div h4 {
  text-align: center;
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 5px;
}
#services .services #owl_services .item > div .price_basket {
  padding: 16px;
}
#services .services #owl_services .item > div .price_basket .price_side {
  float: left;
}
#services .services #owl_services .item > div .price_basket .price_side .old_price {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: line-through;
  display: block;
}
#services .services #owl_services .item > div .price_basket .price_side .new_price {
  font-size: 20px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: block;
}
#services .services #owl_services .item > div .price_basket .basket_side {
  float: right;
}
#services .services #owl_services .item > div .price_basket .basket_side .to_basket_btn {
  display: inline-block;
  margin-top: 5px;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 25px;
}
#services .services #owl_services .item > div .price_basket .basket_side .to_basket_btn:hover {
  background-image: url("../img/red_basket.png");
}
#services .services #owl_services .owl-buttons .owl-prev,
#services .services #owl_services .owl-buttons .owl-next {
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 37px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e9e9e9;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
#services .services #owl_services .owl-buttons .owl-prev {
  background-image: url(../img/min_left_arr.png);
  left: -5px;
}
#services .services #owl_services .owl-buttons .owl-next {
  background-image: url(../img/min_right_arr.png);
  right: -5px;
}

#other_top {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #242020;
}
#other_top .other_top .logo {
  float: left;
}
#other_top .other_top .tel {
  float: right;
}
#other_top .other_top .tel span {
  font-size: 13px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: block;
  margin-bottom: 4px;
}
#other_top .other_top .tel a {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#order {
  background-color: #fff;
}
#order .order h2 {
  text-align: center;
  font-size: 30px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 50px 0 20px;
}
#order .order h4 {
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 40px;
}
#order .order .order_block {
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(234, 234, 234, 0.05);
  padding: 20px;
}
#order .order .order_block .ord_left {
  float: left;
  width: 60%;
}
#order .order .order_block .ord_left table tr td {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 15px;
  width: 50%;
}
#order .order .order_block .ord_left table tr td:first-child {
  color: #777777;
}
#order .order .order_block .ord_left table tr td:last-child {
  color: #242020;
}
#order .order .order_block .ord_right {
  float: right;
  width: 40%;
}
#order .order .order_block .ord_right a {
  display: inline-block;
  width: 200px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  color: #fff;
}
#order .order .order_block .ord_right .pay_online a {
  background-color: #e10025;
  float: left;
}
#order .order .order_block .ord_right .pay_online img {
  display: inline-block;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
}
#order .order .order_block .ord_right .pay_contract a {
  background-color: #777777;
}
#order .order .order_block .ord_right .to_print a {
  background-color: #242020;
}

#your_order {
  background-color: #fff;
}
#your_order .your_order .your_order_left {
  float: left;
  width: 50%;
  padding-bottom: 30px;
}
#your_order .your_order .your_order_left .item_scroll_type{
    height: 480px;
	width: 330px;
}
#your_order .your_order .your_order_left h3 {
  font-size: 30px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 55px 0 25px;
}
#your_order .your_order .your_order_left ul {
  width: 295px;
}
#your_order .your_order .your_order_left ul li .your_order_items {
  padding: 20px;
  border-bottom: 1px solid #777777;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_img {
  float: left;
  margin-right: 30px;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_img img {
  height: 95px;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info {
  height: 95px;
  display: table-cell;
  vertical-align: middle;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 8px;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info .kol{
	font-size: 12px;
	color: #777777;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info .name {
  display: block;
  font-size: 16px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info .price {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #e10025;
}
#your_order .your_order .your_order_left ul li .your_order_items .your_order_item_info .price i {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
#your_order .your_order .your_order_left ul li .your_order_total {
  padding-top: 20px;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_left {
  float: left;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_left p {
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 4px;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_left span {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_left span i {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_right {
  float: right;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_right a {
  display: inline-block;
  width: 150px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #231f1f;
  transition: all .3s ease;
}
#your_order .your_order .your_order_left ul li .your_order_total .your_order_total_right a:hover {
  background-color: #e10025;
}
#your_order .your_order .your_order_right {
  float: left;
  width: 50%;
  padding-bottom: 30px;
}
#your_order .your_order .your_order_right.mob_type{
	display: none;
}
#your_order .your_order .your_order_right h3 {
  font-size: 30px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 55px 0 25px;
}
#your_order .your_order .your_order_right .your_order_tab {
  margin-bottom: 20px;
}
#your_order .your_order .your_order_right .your_order_tab li {
  float: left;
}
#your_order .your_order .your_order_right .your_order_tab li a {
  display: inline-block;
  border: 1px solid #777;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f4f4f4;
  font-size: 15px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 8px 18px;
}
#your_order .your_order .your_order_right .your_order_tab li a.entity_btn {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
#your_order .your_order .your_order_right .your_order_tab li a.individual_btn {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
#your_order .your_order .your_order_right .your_order_tab li a.active {
  background-color: #242020;
  color: #fff;
  border-color: #242020;
}
#your_order .your_order .your_order_right form select {
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  text-indent: 10px;
  background-image: url("../img/select_arr.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
#your_order .your_order .your_order_right form input[type="text"], input[type="datetime-local"], input[type="number"] {
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 28px;
  width: 100%;
  text-indent: 10px;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

#your_order .your_order .your_order_right form input[type="text"]:active, #your_order .your_order .your_order_right form input[type="text"]:focus {
  border-color: #777777;
}
#your_order .your_order .your_order_right form input[type="text"].input_error {
  border-color: #e10025;
  color: #e10025;
}
#your_order .your_order .your_order_right form input[type="text"].input_ok {
  background-color: #f9f9f9;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
#your_order .your_order .your_order_right form ::-webkit-input-placeholder {
  color: #777777;
}
#your_order .your_order .your_order_right form ::-moz-placeholder {
  color: #777777;
}
#your_order .your_order .your_order_right form :-moz-placeholder {
  color: #777777;
}
#your_order .your_order .your_order_right form :-ms-input-placeholder {
  color: #777777;
}
#your_order .your_order .your_order_right form textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  resize: none;
  padding: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#your_order .your_order .your_order_right form p {
  font-size: 16px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}
#your_order .your_order .your_order_right form p a {
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  font-style: italic;
}
#your_order .your_order .your_order_right form .form_bottom .inp_file {
  float: left;
  width: 220px;
}
#your_order .your_order .your_order_right form .form_bottom .inp_file a {
  display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  padding-left: 30px;
  background-image: url("../img/file.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
#your_order .your_order .your_order_right form .form_bottom .inp_file input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  opacity: 0;
}
#your_order .your_order .your_order_right form .form_bottom .inp_file h6 {
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#your_order .your_order .your_order_right form .form_bottom input[type="submit"] {
  width: 200px;
  height: 38px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e10025;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  float: right;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}
#your_order .your_order .your_order_right form .form_bottom input[type="submit"]:hover {
  background-color: #231f1f;
}

#basket {
  background-color: #fff;
}
#basket .basket h2 {
  font-size: 30px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 50px 0 30px;
}
#basket .basket .basket_items {
  margin-bottom: 50px;
}
#basket .basket .basket_items .basket_item {
  padding: 20px 30px;
  border-bottom: 1px solid #777777;
}
#basket .basket .basket_items .basket_item .img {
  float: left;
  width: 15%;
}
#basket .basket .basket_items .basket_item .img img {
  max-width: 100%;
  height: 100px;
}
#basket .basket .basket_items .basket_item .name {
  float: left;
  width: 35%;
}
#basket .basket .basket_items .basket_item .name div {
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}
#basket .basket .basket_items .basket_item .name div p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 5px;
}
#basket .basket .basket_items .basket_item .name div span {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242020;
  text-transform: uppercase;
}
#basket .basket .basket_items .basket_item .count {
  float: left;
  width: 20%;
}
#basket .basket .basket_items .basket_item .count div {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
#basket .basket .basket_items .basket_item .count div a {
  display: inline-block;
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #eaeaea;
  background-color: #f4f4f4;
  text-align: center;
}
#basket .basket .basket_items .basket_item .count div a.minus {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  line-height: 13px;
}
#basket .basket .basket_items .basket_item .count div a.plus {
  -moz-border-radius: 0px 5px 5px 0;
  -webkit-border-radius: 0px 5px 5px 0;
  border-radius: 0px 5px 5px 0;
  line-height: 20px;
}
#basket .basket .basket_items .basket_item .count div input[type="text"] {
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid #eaeaea;
  font-size: 12px;
  color: #b2b2b2;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}
#basket .basket .basket_items .basket_item .price {
  float: left;
  width: 25%;
}
#basket .basket .basket_items .basket_item .price > span {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
#basket .basket .basket_items .basket_item .price > span .one_price {
  font-size: 25px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#basket .basket .basket_items .basket_item .price > span i {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #e10025;
}
#basket .basket .basket_items .basket_item .delete {
  float: right;
  width: 5%;
}
#basket .basket .basket_items .basket_item .delete a {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
#basket .basket .basket_total_price {
  padding: 18px 40px;
  border-top: 1px dashed #eaeaea;
  border-bottom: 1px dashed #eaeaea;
  margin-bottom: 50px;
}
#basket .basket .basket_total_price p {
  float: left;
  font-size: 20px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 3px 0;
}
#basket .basket .basket_total_price > span {
  float: right;
}
#basket .basket .basket_total_price > span .all_price {
  font-size: 25px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#basket .basket .basket_total_price > span i {
  font-style: normal;
  font-size: 20px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#basket .basket .basket_checkout {
  padding: 0 40px 65px;
}
#basket .basket .basket_checkout .back_to_btn {
  display: inline-block;
  float: left;
  font-size: 16px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  background-image: url("../img/back_arr.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  margin: 10px 0;
}
#basket .basket .basket_checkout .checkout_btn {
  display: inline-block;
  float: right;
  width: 200px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e10025;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all .3s ease;
}
#basket .basket .basket_checkout .checkout_btn:hover {
  background-color: #242020;
}

#other_bottom {
  background-color: #fff;
  padding: 20px 0;
  border-top: 1px solid #777777;
}
#other_bottom .other_bottom .copypast {
  float: left;
}
#other_bottom .other_bottom .copypast p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#other_bottom .other_bottom .web_studio {
  float: right;
}
#other_bottom .other_bottom .web_studio p {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#catalog {
  background-color: #fff;
}
#catalog .catalog .breadcrumbs {
  padding-top: 50px;
  padding-bottom: 50px;
}
#catalog .catalog .catalog_main .catalog_left {
  width: 25%;
  float: left;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#catalog .catalog .catalog_main .catalog_left .filter_title {
  padding: 20px 15px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f7f7f7;
}
#catalog .catalog .catalog_main .catalog_left .filter_title h4 {
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#catalog .catalog .catalog_main .catalog_left .accordion {
  border: 1px solid #eaeaea;
  border-top: none;
}
#catalog .catalog .catalog_main .catalog_left .accordion a {
  display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: block;
  padding: 20px 15px;
  position: relative;
}
#catalog .catalog .catalog_main .catalog_left .accordion a img {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -3px;
  transition: all .3s ease;
}
#catalog .catalog .catalog_main .catalog_left .accordion a.active img {
  transform: rotate(540deg);
}
#catalog .catalog .catalog_main .catalog_left .accordion > div {
  display: none;
  padding: 20px 15px;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div label {
  cursor: pointer;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div input[type='checkbox'] {
  display: none;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div input[type='checkbox'] + label span {
  display: inline-block;
  background: url("../img/checkbox.png") no-repeat;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-right: 8px;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div input[type='checkbox']:checked + label span {
  background: url("../img/checkbox_active.png") no-repeat;
  width: 12px;
  height: 12px;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div p input {
  font-size: 14px !important;
  color: #777777 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div #slider-range {
  display: block !important;
  border-radius: 0px;
  height: 2px;
  background-color: #eaeaea;
  border: none;
  margin-top: 15px;
}
#catalog .catalog .catalog_main .catalog_left .accordion > div #slider-range .ui-slider-handle {
  background-color: transparent;
  border: none;
  background-image: url("../img/ellipse.png");
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center center;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom {
  border: 1px solid #e9e9e9;
  border-top: none;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(248, 248, 248, 0.5);
  padding: 20px 15px;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom a {
  display: inline-block;
  width: 90px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  transition: all .3s ease;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom a.del_btn {
  float: left;
  background-color: #242020;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom a.del_btn:hover {
  background-color: #e10025;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom a.show_btn {
  float: right;
  background-color: #e10025;
}
#catalog .catalog .catalog_main .catalog_left .filter_bottom a.show_btn:hover {
  background-color: #242020;
}
#catalog .catalog .catalog_main .catalog_right {
  float: left;
  width: 75%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top {
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fdfdfd;
  margin: 0px 10px 20px;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left {
  float: left;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left span {
  display: inline-block;
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 13px 18px;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_left select {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  height: 40px;
  padding-left: 10px;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/select_down_arr.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right {
  float: right;
  padding-right: 20px;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right span {
  display: inline-block;
  font-size: 14px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  float: left;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right .first_type_btn {
  display: inline-block;
  background-image: url("../img/type1.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  float: left;
  margin-top: 11px;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right .first_type_btn.active {
  background-image: url("../img/type1_active.png");
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right .second_type_btn {
  display: inline-block;
  background-image: url("../img/type2.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 18px;
  float: left;
  margin-top: 11px;
}
#catalog .catalog .catalog_main .catalog_right .catalog_right_top .catalog_right_top_right .second_type_btn.active {
  background-image: url("../img/type2_active.png");
}
#catalog .catalog .catalog_main .catalog_right .goods_list {
  margin-bottom: 30px;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li {
  width: 33.3%;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active {
  width: 100%;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active > div{
	padding: 16px;
	    height: auto!important;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div .goods_item {
  float: left;
  height: 185px;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div ul {
  float: left;
  width: 200px;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div ul h4 {
  text-align: left;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div .price_basket {
  float: right;
      position: static;
    width: auto;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div .price_basket > div {
  display: table-cell;
  vertical-align: middle;
  height: 185px;
}
#catalog .catalog .catalog_main .catalog_right .goods_list > li.active div .price_basket > div .price_side {
  margin-right: 60px;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation .nav_prev_btn {
  position: absolute;
  left: 0;
  top: 4px;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation .nav_next_btn {
  position: absolute;
  right: 0;
  top: 4px;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul {
  display: inline-block;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul li {
  float: left;
  margin: 0 7px;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul li a {
  display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 25px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  line-height: 25px;
  transition: all .3s ease;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul li a:hover {
  background-color: #e10025;
  color: #fff;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul li a.active {
  background-color: #eaeaea;
}
#catalog .catalog .catalog_main .catalog_right .goods_navigation ul li a.active:hover {
  color: #777;
}

#cart {
  background-color: #fff;
}
#cart .cart .cart_top .cart_slider {
  float: left;
  width: 300px;
  margin-right: 30px;
}
#cart .cart .cart_top .cart_slider .bx-wrapper {
  margin: 0;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport {
  box-shadow: none;
  left: 0;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li {
  position: relative;
  padding: 10px 0;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li img {
  display: block;
  margin: 0 auto;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  text-align: right;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle span {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 4px;
  margin-top: 16px;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.new span {
  color: #fff;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.new:before {
  border-top: 70px solid #e10025;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.hit span {
  color: #fff;
  margin-right: 8px;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.hit:before {
  border-top: 70px solid #000000;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.discount span {
  color: #000;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-viewport .bxslider li .triangle.discount:before {
  border-top: 70px solid #fff000;
}
#cart .cart .cart_top .cart_slider .bx-wrapper .bx-controls-direction {
  display: none;
}
#cart .cart .cart_top .cart_slider #bx-pager a {
  width: 50px;
  float: left;
  margin-right: 10px;
  border: 1px solid #eaeaea;
  padding: 1px 0;
  margin-bottom: 10px;
}
#cart .cart .cart_top .cart_slider #bx-pager a img {
  height: 50px;
  display: block;
  margin: 0 auto;
}
#cart .cart .cart_top .cart_slider #bx-pager a:nth-child(5n) {
  margin-right: 0;
}
#cart .cart .cart_top .cart_slider #bx-pager a.active {
  border-color: #e30d30;
}
#cart .cart .cart_top .cart_info {
  float: left;
  width: 400px;
  margin-right: 30px;
}
#cart .cart .cart_top .cart_info h3 {
  font-size: 24px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#cart .cart .cart_top .cart_info p {
  font-size: 13px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
  line-height: 18px;
  padding-bottom: 35px;
}
#cart .cart .cart_top .cart_info ul {
 /* width: 225px; */
}
#cart .cart .cart_top .cart_info ul li {
  margin-bottom: 20px;
  background-image: url("../img/ket.jpg");
  background-repeat: repeat-x;
  background-position: bottom center;
  position: relative;
  box-sizing: border-box;
}
#cart .cart .cart_top .cart_info ul li:after{
	content: "";
	display: table;
	clear: both;
}
#cart .cart .cart_top .cart_info ul li p {
   display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  padding: 1px 2px 0 0;
}
#cart .cart .cart_top .cart_info ul li span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #242020;
  padding: 2px;
  background-color: #fff;
  float: right;
    
}
#cart .cart .cart_top .cart_info a {
  display: inline-block;
  font-size: 13px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 4px 12px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 15px;
}
#cart .cart .cart_top .cart_prices {
  float: right;
  width: 200px;
}
#cart .cart .cart_top .cart_prices .req_block {
  text-align: right;
  margin-bottom: 30px;
}
#cart .cart .cart_top .cart_prices .req_block .req_price_text {
  display: block;
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}
#cart .cart .cart_top .cart_prices .req_block .req_price {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #777777;
}
#cart .cart .cart_top .cart_prices .req_block .req_price i {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#cart .cart .cart_top .cart_prices .spec_block {
  text-align: right;
  margin-bottom: 8px;
}
#cart .cart .cart_top .cart_prices .spec_block .spec_price_text {
  display: block;
  font-size: 14px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 6px;
}
#cart .cart .cart_top .cart_prices .spec_block .spec_price {
  font-size: 28px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#cart .cart .cart_top .cart_prices .spec_block .spec_price i {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#cart .cart .cart_top .cart_prices p {
  font-size: 12px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  padding-bottom: 30px;
}
#cart .cart .cart_top .cart_prices input {
	border: 0;
	    padding-right: 80px;
	cursor: pointer;
  display: block;
  width: 200px;
  height: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e10025;
  line-height: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-indent: 20px;
  background-image: url("../img/white_basket.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  float: right;
  transition: all .3s ease;
}
#cart .cart .cart_top .cart_prices a:hover {
  background-color: rgba(225, 0, 37, 0.7);
}
#cart .cart .cart_tab {
  padding-top: 15px;
}
#cart .cart .cart_tab .tab_navbar {
  width: 100%;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cart .cart .cart_tab .tab_navbar > li {
  float: left;
}
#cart .cart .cart_tab .tab_navbar > li a {
  display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 13px 20px;
  transition: all .3s ease;
}
#cart .cart .cart_tab .tab_navbar > li a:hover {
  color: #e10025;
}
#cart .cart .cart_tab .tab_navbar > li a.active {
  color: #242020;
  background-color: #f8f8f8;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: none;
  border-bottom: none;
}
#cart .cart .cart_tab .tab_main {
  padding: 30px 20px;
}
#cart .cart .cart_tab .tab_main ul {
  width: 480px;
}
#cart .cart .cart_tab .tab_main ul li {
  margin-bottom: 15px;
  background-image: url("../img/ket.jpg");
  background-repeat: repeat-x;
  background-position: bottom center;
}
#cart .cart .cart_tab .tab_main ul li p {
  display: inline-block;
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  padding: 0px 2px;
}
#cart .cart .cart_tab .tab_main ul li span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #242020;
  float: right;
  background-color: #fff;
  padding: 0px 2px;
}
#cart .cart .cart_tab .tab_blocks {
  display: none;
}
#cart .cart .cart_tab .tab_blocks.active {
  display: block;
}

.goods_list > li {
  width: 25%;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.goods_list > li > div {
  border: 1px solid #777777;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  position: relative;
  padding: 16px 16px 60px 16px;
}
.goods_list > li > div .goods_item {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.goods_list > li > div .gift {
  position: absolute;
  top: 10px;
  left: 10px;
}
.goods_list > li > div .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  text-align: right;
  z-index: 2;
}
.goods_list > li > div .triangle span {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 4px;
  margin-top: 16px;
}
.goods_list > li > div .triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.goods_list > li > div .triangle.new span {
  color: #fff;
}
.goods_list > li > div .triangle.new:before {
  border-top: 70px solid #e10025;
}
.goods_list > li > div .triangle.hit span {
  color: #fff;
  margin-right: 8px;
}
.goods_list > li > div .triangle.hit:before {
  border-top: 70px solid #000000;
}
.goods_list > li > div .triangle.discount span {
  color: #000;
}
.goods_list > li > div .triangle.discount:before {
  border-top: 70px solid #fff000;
}
.goods_list > li > div .with_num {
  width: 94px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 2;
}
.goods_list > li > div .with_num span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 32px;
  margin-right: 8px;
}
.goods_list > li > div .with_num:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 32px solid #fff;
  border-right: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.goods_list > li > div .with_num.new_num {
  background-color: #e10025;
}
.goods_list > li > div .with_num.new_num span {
  color: #fff;
}
.goods_list > li > div .with_num.discount_num {
  background-color: #fff000;
}
.goods_list > li > div .with_num.discount_num span {
  color: #333333;
}
.goods_list > li > div h4 {
  text-align: center;
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.goods_list > li > div h4 a{
  text-align: center;
  font-size: 20px;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0px;
  height: 74px;
  display: block;
  box-sizing: border-box;
}
.goods_list > li > div ul li {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}
.goods_list > li > div ul li span {
  float: right;
  color: #242020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.goods_list > li > div .price_basket {
  padding-top: 12px;
      position: absolute;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
}
.goods_list > li > div .price_basket .price_side {
  float: left;
}
.goods_list > li > div .price_basket .price_side .old_price {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: line-through;
  display: block;
}
.goods_list > li > div .price_basket .price_side .new_price {
  font-size: 20px;
  color: #e10025;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: block;
}
.goods_list > li > div .price_basket .basket_side {
  float: right;
}
 div .price_basket .basket_side input[type='submit'] {
  display: inline-block;
  margin-top: 5px;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 25px;
      border: 0;
    background-color: transparent;
	cursor: pointer;
}
 div .price_basket .basket_side .to_basket_btn:hover {
  background-image: url("../img/red_basket.png");
}

.breadcrumbs {
  padding: 30px 0 30px 20px;
}
.breadcrumbs ul {
  list-style-type: none !important;
  padding-left: 0 !important;
}
.breadcrumbs ul li {
  float: left;
}
.breadcrumbs ul li span,
.breadcrumbs ul li a {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
}
.breadcrumbs ul li a {
  padding-right: 50px;
  background-image: url("../img/breadcrumbs_arrow.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

#bottom_footer {
  width: 100%;
  position: absolute;
  bottom: -60px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #777!important;
	    width: 2px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	    background: #e9e9e9;
}

#calc input[type='text'], 
#calc input[type='email'], 
#calc input[type='tel']{ 
	    border: 1px solid #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 28px;
    width: 100%;
    text-indent: 10px;
    font-size: 14px;  
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px; 
}
#calc input:focus{ 
	    border-color: #777777;
}
#calc input[type='submit']{
	width: 200px;
    height: 38px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #e10025;
    font-size: 16px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
#calc input[type='submit']:hover{
	background-color: #231f1f;
}

#calc select{
	    margin-bottom: 20px;
    border: 1px solid #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    text-indent: 10px;
    background-image: url(../img/select_arr.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}
